body {

  background-color: black;
  color: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.wrapper {
  width: 80%; /* Ширина контейнера */
  max-width: 1200px; /* Максимальная ширина контейнера */
}

header {
  background-color: orange;
  padding: 20px;
}

header h1 {
  margin: 0;
}

header a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

main {
  padding: 20px;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.project-card {
  width: 300px;
  margin-bottom: 20px;
  background-color: orange;
  border: 2px solid black;
  border-radius: 10px;
  overflow: hidden;
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}

.project-info {
  padding: 10px;
}

.project-title {
  margin: 0;
  font-size: 20px;
}

.project-description {
  margin: 10px 0;
  font-size: 16px;
}
